* {
	margin 		:	0;
	padding		:	0;
	background	:	#FFF;	
	text-decoration	:	none;
}

input {
	height	:	20px;
}

a:link		{color	:	#000;}
a:visited	{color	:	#000;}
a:hover		{background	:	#DDD;}
a:active	{color	:	#000;}

body {
	background	:	#CCC;
	height		:	1000px;
}


#main_header {
	margin		:	10px;
	position	:	absolute;
	top			:	0;
	left		:	0;
	right		:	0;
	height		:	180px;
	overflow	:	hidden;
}

#main_body	{
	margin		:	5px 10px 0px 10px;
	position	:	absolute;
	left		:	0;
	right		:	0;
	top			:	200px;
	height		:	1200px;
	background	:	#CCC;
	
}

#main_panel {
	height		:	100%;
	bottom		:	0;	
	top			:	0;
	left		:	0;
	width		:	250px;
}

#main_panel li {
	border-bottom	:	2px solid #777;
	border-top		:	2px solid #777;
	font: 15px Helvetica, arial, freesans, clean, sans-serif;
	line-height	:	2.2;
	height		:	30px;
	width		:	auto;
}

#main_panel a {
	padding-left:	10px;
	display		:	block;
	width		:	auto;
	height		:	100%;
	
}

#main_content {
	padding		:	20px;
	position	:	absolute;
	top			:	0;
	left		:	270px;
	right		:	0;
	bottom		:	0;
	height		:	100%;
	overflow	:	hidden;
}

.content_name {
	padding-left	:	20px;
}

.content_addnew {
	float			:	right;
	padding-right	:	20px;
}

.content_introduction {
	padding		:	20px;	
}

.content_list {
	margin		:	0px 20px 0px 40px;
}

.content_list	li {
	margin	:	5px 0px 5px 0px;
}

.add_new {
	position	:	absolute;
	width		:	500px;
	height		:	200px;
	left		:	50%;
	top			:	100px;
	margin-left	:	-250px;
	border		:	2px solid #CCC;
}

.add_new table{
	margin		:	8px auto;
}

.dialog_close {
	font-size	:	20px;
	cursor		:	pointer;
	float		:	right;
	background	:	#CCC;
}

.add_new tr{
}

.add_new td {
	font-size	:	18px;
	line-height	:	1.6;
	padding		:	0px 20px 0px 20px;					
}

.add_new a {
	display		:	inline-block;
	height		:	30px;
	width		:	100px;
	float		:	right;
	text-align	:	center;
	line-height	:	2;
}
#pools_list li{
	border	:	2px solid #FFF;
}
#pools_list li:hover{
	border	:	2px solid #CCC;
}

.button_add_new {
	cursor		:	pointer;	
}
